*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Raleway', sans-serif;
}
i{
	color: black;
}
a{
	color: black;

}

/*start of header*/
#header {
	background-image: url(./../images/header-pic.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
}

#header h1 {
	color: #fff;
	font-size: 5rem;
	font-weight: 800;
	letter-spacing: 1px;
	text-shadow: 3px 3px 3px black;
}
#header h3 {
	color: #fff;
	font-size: 3rem;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px black;

}



#header .btn {
	color: #fff;
	padding: 1rem;
	letter-spacing: 2px;

}
/*end of header*/

/*start of about*/
#about {
	height: 100vh;

}

#about img {
	height: 30rem;
	width: auto;
}

#about h5{
	text-align: justify;
}
/*end of about*/

/*start of project*/
#project {
	min-height: 100vh;
}

#project img {
	height: 20rem;
}
/*end of project*/

/*start of skills*/
#skills {
	height: 100vh; 
}

#skills img {
	height: 6rem;
	width: auto;
}
/*end of skills*/

/*start of get in touch*/
#get-in-touch {
	min-height: 30vh;

}

#get-in-touch .fas {
	font-size: 2rem;
}
/*end of get in touch*/

/*start of footer*/
#footer {
	background-color: lightgray;
	min-height: 30vh;
}
/*end of footer*/


/*start of media query*/

/* start of mobile size*/
@media all and (max-width: 500px) {
	#project img {
		height: 8rem;
		width: auto;
	}

	#skills img {
		height: 8rem;
		width: auto;
	}
	#project{
		margin-top: 8rem;
	}
}



/* end of mobile size*/

@media all and (min-width: 501px) and (max-width: 1007px){
	#project img {
		height: 8rem;
		width: auto;
	}

	#skills img {
		height: 8rem;
		width: auto;
	}
	#project{
		margin-top: 5rem;
	}
}
}



